li {color: rgb(158, 233, 20);}  /*Felsorolás*/
body {background-color: coral;} /*Body alap color*/
table {border-width: 2px;}
* {
    margin: 0px;
    padding: 0px;
}

#fomenu {
    list-style-type: none;
    width: 600px;
    margin: 10px auto;
}

#fomenu li {
    float: left;
    margin-right: 7px;
    text-align: center;
    position: relative;
}
#fomenu li a {
    display: block;
    width: 110px;
    height: 40px;
    background-color: darkgreen;
    color: white;
    line-height: 40px;
    text-decoration: none;
}

#fomenu li a:hover {
    background-color: orange;
    color: black;
}

#fomenu li:hover .almenu {
    display: block;
    list-style-type: none;
    position: absolute;
    left: 10px;
}

#fomenu li:hover .almenu li a {
    width: 90px;
    border-radius: 7px;
    background-color: chartreuse;
    color: white;
    margin-top: 7px;
}

#fomenu li:hover .almenu li a:hover {
    background-color: violet;
    color: black;
}


#fomenu .almenu {
    display: none;
}

input[type="password"] {color: hotpink;}

p {float: left;}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}